optcdb_bot/server.js
optcdb_bot/public.pem
optcdb_bot/cert/private.key
optcdb_bot/cert/private.key
optcdb_bot/private.key
optcdb_bot/bots/gem-dev/
optcdb_bot/.bash_history
optcdb_bot/.bash_logout
optcdb_bot/.bashrc
optcdb_bot/.profile
